[submodule "contrib/Orochi"]
	path = contrib/Orochi
	url = https://github.com/amdadvtech/Orochi
[submodule "contrib/easy-encryption"]
	path = contrib/easy-encryption
	url = https://github.com/amdadvtech/easy-encryption
