*.vs
*.vscode
*.png
*.log
*.xml
*.bin
*.fatbin
*.hipfb
*.bc
build/
build-cmake/
dist/
hiprt/hiprt.h
hiprt/hiprtew.h
hiprt/cache/Kernels.h
hiprt/cache/KernelArgs.h
PUBLIC_OUT/
hiprt/impl/bvh_build_array.h
contrib/Orochi/ParallelPrimitives/cache/Kernels.h
contrib/Orochi/ParallelPrimitives/cache/KernelArgs.h
contrib/Orochi/ParallelPrimitives/cache/oro_compiled_kernels.h
scripts/bitcodes/__pycache__/
CMakeUserPresets.json
tmp.txt
test/common/meshes/lfs

install/