name: Run clang-format Linter

on:
  pull_request:
    branches:
    - master

  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: './hiprt ./test'
        exclude: './contrib ./tools ./scripts'
        extensions: 'h,cpp,c'
        clangFormatVersion: 15
        inplace: 'True'

    - uses: EndBug/add-and-commit@v9.1.1
      with:
        author_name: rprbuild
        author_email: a1rpr@amd.com
        message: 'Automatic: Committing clang-format changes'
